
    
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="searchText">
        </div>
        <div class="col">
            <select class="form-select" id="searchResource">
                <option value="films">Films</option>
                <option value="people">People</option>
                <option value="planets">Planets</option>
                <option value="species">Species</option>
                <option value="starships">Starships</option>
                <option value="vehicles">Vehicles</option>
            </select>
        </div>
        <div class="col">
            <button id="searchBtn" class="btn btn-primary">Search</button>
        </div>
    </div>

