
    
    <div class="row">
        <form #thisSearchForm="ngForm">
            <div class="col">
                <input type="text" class="form-control" id="searchText" [(ngModel)]="searchForm.searchText" name="searchText" required>
            </div>
            <div class="col">
                <select class="form-select" id="searchResource" [(ngModel)]="searchForm.searchResource" name="searchResource" required>
                    <option value="films">Films</option>
                    <option value="people">People</option>
                    <option value="planets">Planets</option>
                    <option value="species">Species</option>
                    <option value="starships">Starships</option>
                    <option value="vehicles">Vehicles</option>
                </select>
            </div>
            <div class="col">
                <button id="searchBtn" class="btn btn-primary" (click)="searchBtnClick()" [disabled]="!thisSearchForm.valid">Search</button>
            </div>
        </form>
    </div>

